.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-text-container {
  flex: 1;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-text-container {
    text-align: center;
  }

  .about-text-container p {
    margin: 0 auto;
  }
}

.about-text-container p {
  padding-top: 2.5%;
  max-width: 85%;
  width: auto;
  height: auto;
  text-align: justify;
}