.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.about-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: slideInLeft 1s ease-in-out;
}

.about-text-container {
  flex: 1;
  padding: 20px;
  animation: slideInRight 1s ease-in-out;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-text-container {
    text-align: center;
  }

  .about-text-container p {
    margin: 0 auto;
  }
}

.about-text-container p {
  padding-top: 2.5%;
  max-width: 85%;
  width: auto;
  height: auto;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}